<form class="form form__row" #f="ngForm" (ngSubmit)="f.valid && onSubmit(f.value)" novalidate>

    <div class="table__row__cell table__row__cell--first col-2">
        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
            <mat-label>Firstname</mat-label>
            <input matInput class='table__row__cell__field' style="height: 1.8rem;" #firstname="ngModel" ngModel type="text" name="firstname"
                [(ngModel)]='model.firstname' required />
        </mat-form-field>
        <span class='table__row__cell__field--error'
            *ngIf="firstname.invalid && (firstname.dirty || firstname.touched ||f.submitted)"
            tooltip="firstname is required" placement="bottom" show-delay="0">!
        </span>
    </div>

    <div class="table__row__cell col-2">
        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
            <mat-label>Lastname</mat-label>
            <input matInput style="height: 1.8rem;" class='table__row__cell__field' #lastname="ngModel" ngModel type="text" name="lastname"
                [(ngModel)]='model.lastname' required />
        </mat-form-field>

        <span class='table__row__cell__field--error'
            *ngIf="lastname.invalid && (lastname.dirty || lastname.touched ||f.submitted)"
            tooltip="lastname is required" placement="bottom" show-delay="0">!
        </span>

    </div>

    <div class="table__row__cell col-3">
        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
            <mat-label>Email</mat-label>
            <input matInput class='table__row__cell__field' #email="ngModel" ngModel type="email" name="email"
                [(ngModel)]='model.email' pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required style="height: 1.8rem;"/>
        </mat-form-field>

        <span *ngIf="email.invalid && (email.dirty || email.touched ||f.submitted)">
            <span class='table__row__cell__field--error' *ngIf="email.errors?.required" tooltip="email is required"
                placement="bottom" show-delay="0">! </span>
            <span class='table__row__cell__field--error' *ngIf="email.errors?.pattern" tooltip="check your email"
                placement="bottom" show-delay="0">! </span>
        </span>
    </div>
 
    <div class="table__row__cell col-2">
        <mat-form-field appearance="outline" [hideRequiredMarker]="true">
            <mat-label>Brands</mat-label>
            <mat-select [(ngModel)]=model.brand #brand="ngModel" ngModel name="brand" class='table__row__cell__field' required>
                <mat-option *ngFor="let brand of brands" [value]="brand" >
                    {{brand}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <span class='table__row__cell__field--error' style="right: 2rem;"
            *ngIf="brand.invalid && (brand.dirty || brand.touched ||f.submitted)" tooltip="select a brand"
            placement="bottom" show-delay="0">!
        </span>
    </div>
    <div class="table__row__cell table__row__cell--last table__row__cell--actionbtn col-2">
        <button type="submit" [disabled]="!enableBtn" mat-flat-button color="primary">Create</button>        
    </div>

</form>