@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
} */

/* body {
  background: #644bff;
  padding: 0 20px;
} */

::selection {
  color: #fff;
  background: #664aff;
}

.wrapper {
  max-width: 450px;
  /* width: 450px !important; */
  margin: auto;
}

.wrapper .search-input {
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.search-input input {
  height: 55px;
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active input {
  border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
  position: absolute;
  /* color: orange; */
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
  z-index: 1;

  /* height: 55px; */
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  background-color: white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active .autocom-box {
  position: absolute;
  padding: 2px 2px;
  opacity: 1;
  pointer-events: auto;
  z-index: 1;

  /* height: 55px; */
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: 3px solid #efefef;
  border-radius: 5px;
  /* padding: 0 60px 0 20px; */
  font-size: 18px;
  background-color: white;

  /* box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.1); */
}

.autocom-box li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  box-sizing: border-box;

  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.search-input.active .autocom-box li {
  display: block;
}
.autocom-box li:hover {
  /* background: whitesmoke; */
  background-color: #efefef;
  /* width: 100%; */
  box-sizing: border-box;

  width: 100%;
  transition: 200ms;
  transform: scale(1.02);
  /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); */
  box-shadow: 5px 5px 8px rgb(211, 210, 210);

  /* list-style-type: none; */
  /* outline: none; */
  /* border: none; */
  /* border-radius: 5px; */
  /* padding: 0 60px 0 20px; */
  font-size: 18px;
  /* background-color: grey; */
}

.search-input .icon {
  position: absolute;
  right: 0px;
  top: 0px;
  height: 55px;
  width: 55px;
  text-align: center;
  line-height: 55px;
  font-size: 20px;
  color: #644bff;
  cursor: pointer;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.autocom-box::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.autocom-box {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
