.PSide {
  /* display: inline-block; */
  position: relative;
  height: 100vh;
  box-shadow: 0px 2px 10px grey;
}

.pro-sidebar-layout {
  background-color: whitesmoke;
  color: black;
}


.pro-item-content:hover {

  color: grey !important;
  transform: scale(1.1);
  transition-duration: 400ms;
}






/* .pro-inner-item >.pro-item-content:hover{
    color:black !important;
} */

/* .pro-sidebar .pro-menu .pro-menu-item:hover {
    color: white;
} */

/* .pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item :hover{
    color:black !important;
}

.pro-sidebar .pro-menu .pro-menu-item > .pro-inner-item > .pro-item-content:hover {
    color:white !important;
} */

.pro-sidebar
  .pro-menu
  .pro-menu-item.pro-sub-menu
  .pro-inner-list-item
  .pro-inner-item:before {
  content: "";
  display: inline-block;
  width: 0px;
  min-width: 0px;
  height: 0px;
  border: 0px solid #2b2b2b;
  border-radius: 50%;
  margin-right: 0px;
  position: relative;
  box-shadow: 1px 0px 0px #adadad, 0px -1px 0px #adadad, 0px 1px 0px #adadad,
    -1px 0px 0px #adadad;
}

.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 1.5rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  padding: 0px 10px;
}

.pro-item-content {
  display: flex;
  align-items: center;
}

.pro-sidebar-header {
  margin: auto;
  padding: 20px;
}

.pro-sidebar-footer {
  margin: auto;
  padding: 20px;
}

.Submenu {
  padding: 20px 0px;
  /* border-bottom: 3px solid white;
	border-top: 3px solid white;
	border-collapse: collapse ;
	margin-bottom: -2px; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.pro-sidebar-layout::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.pro-sidebar-layout {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.pro-sidebar .pro-menu .pro-menu-item.pro-sub-menu .pro-inner-list-item {
  padding-left: 20px;
  background-color: #343a40;
}