.suggestPerson-wrapper {
  background: #fff;
  width: 100%;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
}

.suggestPerson-wrapper p {
  padding: 1px 4px;
}

.suggestPerson-wrapper .suggestPerson-suggestion {
  position: absolute;
  /* color: orange; */
  padding: 0;
  opacity: 0;
  pointer-events: none;
  max-height: 280px;
  overflow-y: auto;
  z-index: 1;

  /* height: 55px; */
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 0 60px 0 20px;
  font-size: 18px;
  background-color: white;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.suggestPerson-wrapper.active .suggestPerson-suggestion {
  position: absolute;
  padding: 2px 2px;
  opacity: 1;
  pointer-events: auto;
  z-index: 1;

  /* height: 55px; */
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border: 3px solid #efefef;
  border-radius: 5px;
  /* padding: 0 60px 0 20px; */
  font-size: 18px;
  background-color: white;

  /* box-shadow: 5px 8px 5px rgba(0, 0, 0, 0.1); */
}

.suggestPerson-suggestion li {
  list-style: none;
  padding: 8px 12px;
  display: none;
  box-sizing: border-box;

  width: 100%;
  cursor: default;
  border-radius: 3px;
}

.suggestPerson-wrapper.active .suggestPerson-suggestion li {
  display: block;
}
.suggestPerson-suggestion li:hover {
  /* background: whitesmoke; */
  background-color: #efefef;
  /* width: 100%; */
  box-sizing: border-box;

  width: 98%;
  transition: 200ms;
  transform: scale(1.02);
  /* box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1); */
  box-shadow: 5px 5px 8px rgb(211, 210, 210);

  /* list-style-type: none; */
  /* outline: none; */
  /* border: none; */
  /* border-radius: 5px; */
  /* padding: 0 60px 0 20px; */
  font-size: 18px;
  /* background-color: grey; */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.suggestPerson-suggestion ::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.suggestPerson-suggestion {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
