.form 
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.table__row__cell__field
{
    width: 100%;
    height: 2.4rem;
    font-size: 1.3rem;
    padding-left: 0.5rem;
    font-weight: 500;
    outline: none;
    font-family: 'poppins';
    border : 0.1rem solid #f1f1f1;
}

.table__row__cell__field--error
{
    position: absolute;
    right: 1rem;
    font-size: 1.3rem;
    color: red;
    font-size: 1.8rem;
    font-weight: 600;

} 
.ng-valid[required], .ng-valid.required  {
    border-left: 5px solid #42A948; /* green */
  }
  
.ng-invalid:not(form)  {
    border-left: 5px solid #a94442; /* red */
  }
.table__row__cell--action
{
    display: flex;
    justify-content: center;
}


.table__row__cell--actionbtn
{
    outline: none;
    background-color: #5cb85c;
    color: white;
    border-radius: 0.3rem;
    padding: 0.8rem 1rem;
    width: 15rem;
    cursor: pointer;
    border: none;
    outline: none;
    box-shadow: 0.1rem 0.1rem 0 #c1c1c1;
}
